* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #292c2f;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
}

.container {
    width: 30%;
    margin: auto;
    margin-top: 10%;
    background-color: #e02222;
    color: #282828;
    padding: 1.5rem;
    border-radius: 10px;
}

.container h1 {
    font-family: 'Fjalla One', sans-serif;
}
input {
    width: 100%;
    padding: 5px;
    background-color: #dbdbdb;
    border: none;
}

.container h2, p, input, div {
    margin-top: 10px;
}

.card {
    margin-left: 15px;
    margin-top: 15px;
    display: none;
}

#output {
    display: flex;
    word-spacing: 2px;
    font-weight: 500;
}